name = "ABCExceptions"
defaultTargets = ["ABCExceptions"]
lintDriver = "batteries/runLinter"

[leanOptions]
pp.unicode.fun = true
autoImplicit = false # no "assume a typo is a new variable"
relaxedAutoImplicit = false # no "assume a typo is a new variable"
linter.style.longLine = true # no lines longer than 100 chars
linter.oldObtain = true # no "stream of consciousness `obtain`"
linter.style.multiGoal = true # no multiple active goals
# linter.flexible = true # no rigid tactic (e.g. `exact`) after a flexible tactic (e.g. `simp`)

[[require]]
name = "mathlib"
git = "https://github.com/leanprover-community/mathlib4.git"

[[require]]
name = "checkdecls"
git = "https://github.com/PatrickMassot/checkdecls.git"

[[lean_lib]]
name = "ABCExceptions"
